<div class="new-container">
  <div class="form">
    <h2>Add new list</h2>

    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Save", class: "btn" %>
    <% end %>
  </div>
  <div class="btn-wrapper"><%= link_to "Back", lists_path, class:"btn-back"%></div>
</div>
