<div class="container">
  <div class="actions-bar">
    <div class="delete-list">
        <%= link_to "Delete list",
            list_path(@list),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "link-delete-list" %>
      </div>
  </div>

  <h1 class="list-name"><%= @list.name %></h1>

  <% if @bookmarks.any? %>
    <div class="movie-list">
      <% @bookmarks.each do |bookmark| %>
        <div class="movie-card-bookmark">

          <div class="card-image-bookmark">
            <% if bookmark.movie.poster_url.present? %>
              <% if bookmark.movie.poster_url.present? %>
                <%= image_tag "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}", class: "image-bookmark", alt: bookmark.movie.name %>
              <% end %>
            <% end %>
          </div>

          <div class="content-bookmark">
            <h3><%= bookmark.movie.name %></h3>
            <p><strong>Rating :</strong> <%= bookmark.rating %> /5</p>
            <p><strong>Comment :</strong> <%= bookmark.comment %></p>
            <%= link_to "Delete",
              list_bookmark_path(@list, bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn-delete-bookmark" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No movies in this list yet.</p>
  <% end %>

  <div class="btn-wrapper">
    <%= link_to "Back", lists_path, class: "btn-back" %>
  </div>
</div>
