<!DOCTYPE html>
<html>
  <head>
    <title>Labobine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to movies_path do %>
          <h1 class= "nav-title">Labobine<span id="point">.</span></h1>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars" style="color: #ffffff;"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <%# if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Home", movies_path, class: "nav-link" %>
                <%= link_to "Explorer", explorer_index_path, class: "nav-link" %>
                <%= link_to "Lists", lists_path, class: "nav-link" %>
                <% if user_signed_in? %>
                  <%= link_to "Profile", dashboards_path, class: "nav-link" %>
                <% else %>
                  <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
                <% end %>
              </li>
            <%# else %>
              <!--li class="nav-item"-->
                <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
              <!--/li-->
            <%# end %>
          </ul>
        </div>
      </div>
    </div>





    <div class="header-container">
      <%= link_to movies_path do %>
        <h1>Labobine<span id="point">.</span></h1>
      <% end %>

      <%= simple_form_for :search, url: explorer_index_path, method: :get, html: { class: 'search-form' } do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :query, input_html: { class: 'form-control', placeholder: "Rechercher" }, label: false %>
          <button type="submit" class="btn-form">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>

      <div class="menu">
        <%= link_to "Home", movies_path %>
        <%= link_to "Explorer", explorer_index_path, id:"explorer-menu" %>
        <%= link_to "Lists", lists_path, id:"list-menu" %>
      </div>

      <div class="user-profile">
        <% if user_signed_in? %>
          <%= link_to dashboards_path, class: "username-btn" do %>
            <%= cl_image_tag current_user.photo.key, class: "image-profile" %>
            <%= current_user.firstname %> <%= current_user.lastname[0].upcase %>
          <% end %>
        <% else %>
          <%= link_to "Connexion", new_user_session_path, class: "connexion-btn" %>
        <% end %>
      </div>
    </div>

      <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>
